*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(img/repeated-square-dark.png);
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

@keyframes textVisible {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imgVisible {
    0% {
        transform: translate(-100px, -500px) rotate(-20deg);
    }

    50% {
        transform: translate(-100px, 0) rotate(-20deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.header {
    padding: 20px 0;
    background-color: #2c3036;
    display: flex;
    justify-content: center;
}

.header__title {
    font-size: 40px;
    text-align: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px 0;
}

.wrapper {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
}

.main .wrapper {
    display: grid;
    grid-template-areas:
        "slider slider slider slider slider slider"
        "inscription btn1 btn2 btn3 btn4 btn5";
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0;
}

.slider {
    grid-area: slider;
    width: 100%;
    height: 650px;
    border: 15px inset #747980;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.slider__img {
    display: none;
    animation: imgVisible 1s linear;
}

.inscription {
    grid-area: inscription;
    align-self: center;
}

.mem__quote {
    display: none;
    margin: 0;
    font-size: 1.2rem;
    animation: textVisible 0.5s ease-out;
}

.footer {
    background-color: #2c3036;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer__link:hover {
    color: #999da3;
    transition: 0.4s;
}

.footer__text {
    text-align: left;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
}

input {
    display: none;
}

.label1 {
    grid-area: btn1;
}

.label2 {
    grid-area: btn2;
}

.label3 {
    grid-area: btn3;
}

.label4 {
    grid-area: btn4;
}

.label5 {
    grid-area: btn5;
}


.btn1:checked ~ .slider .slider__img:nth-child(1) {
    display: block !important;
}

.btn1:checked ~ .inscription .mem__quote:nth-child(1) {
    display: block !important;
}

.btn2:checked ~ .slider .slider__img:nth-child(2) {
    display: block !important;
}

.btn2:checked ~ .inscription .mem__quote:nth-child(2) {
    display: block !important;
}

.btn3:checked ~ .slider .slider__img:nth-child(3) {
    display: block !important;
}

.btn3:checked ~ .inscription .mem__quote:nth-child(3) {
    display: block !important;
}

.btn4:checked ~ .slider .slider__img:nth-child(4) {
    display: block !important;
}

.btn4:checked ~ .inscription .mem__quote:nth-child(4) {
    display: block !important;
}

.btn5:checked ~ .slider .slider__img:nth-child(5) {
    display: block !important;
}

.btn5:checked ~ .inscription .mem__quote:nth-child(5) {
    display: block !important;
}

.label {
    display: flex;
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

input:active + label .click {
    background-color: #4b8396 !important;
}

input:checked + label .click {
    background-color: #3c3945;
}

.label:hover .click {
    background-color: #58419b;
}

.click {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.4s;
}


