*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-image: url(img/repeated-square-dark.png);


    font-family: 'Yeseva One', cursive, 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: center;

    background-color: transparent;
}

.header__title {
    font-size: 40px;

    text-align: center;
}

.main {
    padding: 20px 0;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;

    width: 100%;
    max-width: 55rem;
}

input {
    display: none;
}

.label1 {
    grid-area: btn1;
}

.label2 {
    grid-area: btn2;
}

.label3 {
    grid-area: btn3;
}

.label4 {
    grid-area: btn4;
}

.label5 {
    grid-area: btn5;
}

.label6 {
    grid-area: btn6;
}


.btn1:checked ~ .slider .slider__img:nth-child(1) {
    display: block;
}

.btn1:checked ~ .inscription .mem__quote:nth-child(1) {
    display: block;
}

.btn2:checked ~ .slider .slider__img:nth-child(2) {
    display: block;
}

.btn2:checked ~ .inscription .mem__quote:nth-child(2) {
    display: block;
}

.btn3:checked ~ .slider .slider__img:nth-child(3) {
    display: block;
}

.btn3:checked ~ .inscription .mem__quote:nth-child(3) {
    display: block;
}

.btn4:checked ~ .slider .slider__img:nth-child(4) {
    display: block;
}

.btn4:checked ~ .inscription .mem__quote:nth-child(4) {
    display: block;
}

.btn5:checked ~ .slider .slider__img:nth-child(5) {
    display: block;
}

.btn5:checked ~ .inscription .mem__quote:nth-child(5) {
    display: block;
}

.btn6:checked ~ .slider .slider__img:nth-child(6) {
    display: block;
}

.btn6:checked ~ .inscription .mem__quote:nth-child(6) {
    display: block;
}


.label {
    display: flex;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: transparent;
    cursor: pointer;
}

input:active + label .click {
    background-color: #4b8396 !important;
}

input:checked + label .click {
    background-color: #3c3945;
}

.label:hover .click {
    background-color: #58419b;
}

.click {
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;


    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.4s;
}

.main .wrapper {
    display: grid;
    grid-template-areas:
        "slider slider slider slider slider slider slider"
        "inscription btn1 btn2 btn3 btn4 btn5 btn6";
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0;
}

.slider {
    grid-area: slider;

    width: 100%;
    height: 650px;

    border: 15px inset #747980;
    border-radius: 30px;

    background-color: #fff;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.slider__img {
    display: none;
    animation: ImgAnimation 0.5s linear;
}

.inscription {
    grid-area: inscription;

    align-self: center;
}

.mem__quote {
    display: none;

    font-size: 1.2rem;
    animation: quoteAnimation 0.5s ease-out;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

    background-color: transparent;
}

.footer__link:hover {
    color: #999da3;
    transition: 0.4s;
}

.footer__text {
    text-align: left;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
}

@keyframes quoteAnimation {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ImgAnimation {
    0% {
        transform: translateX(400px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0px);
    }
}
